.search-form__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    @include mq($from: tablet) {
        flex-wrap: nowrap;
    }
}

.search-form__search-field {
    flex-basis: 100%;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;

    @include mq($from: tablet) {
        flex-basis: 33%;
        margin: initial;
    }
}
